# Ignore node_modules folder
node_modules/

# Ignore .env files that may contain sensitive information


# Ignore log files
logs/

# Ignore build output directories
dist/
build/

# Ignore editor-specific files and folders
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
